# Mac Ingonre Files
*.DS_Store
# VS Code Settings Files
.vscode/
# Remove Python Files
__pycache__/

# More
/logs/*
/old
dataset/SoLoc/AP
.vscode
*.xlsx
regression2.py
/test/train.py
/test/utilities.py
/test/model.py
/test/autoencoder.py
/test/augmentation.py
/src/model/_model.py
/test/logs/*
/test/run.sh

